<h1>Registrera användare</h1>


<%= form_for @user do |f| %>

	<div class ="text_field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div class ="text_field">
		<%= f.label :passwod %>
		<%= f.text_field :password %>
	</div>

	<div class ="text_field">
		<label for='repeatPassword'>Repeat Password</label>
		<input name='repeatPassword' type='text'>
	</div>

	<div class ="text_field">
		<%= f.label :website_name %>
		<%= f.text_field :website_name %>
	</div>

	<div class ="text_field">
		<%= f.label :webbsite_url %>
		<%= f.text_field :webbsite_url %>
	</div>

	<div class="select">
		<%= f.submit "Registrera" %>
	</div>

<% end %>