<% if @user.errors.any? %>

	<div id='error_message'>
		<h3>Du har gjort något fel</h3>

		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
<% end %>



<h1>Registrera användare</h1>


<%= form_for @user do |f| %>

	<div class ="text_field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div class ="text_field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

	<div class ="text_field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>

	<div class ="text_field">
		<%= f.label :website_name %>
		<%= f.text_field :website_name %>
	</div>

	<div class ="text_field">
		<%= f.label :webbsite_url %>
		<%= f.text_field :webbsite_url %>
	</div>

	<div class="select">
		<%= f.submit "Registrera" %>
	</div>

<% end %>